{
  "openapi": "3.1.0",
  "info": {
    "title": "GPTKit Domain Availability API",
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://gptkit.guillaumeduveau.com"
    }
  ],
  "components": {
    "schemas": {
      "AvailabilityResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "domain": {
            "type": "string",
            "description": "Normalized domain name"
          },
          "available": {
            "type": ["boolean", "null"],
            "description": "Availability when known, or null when the lookup was skipped or failed."
          },
          "status": {
            "type": "string",
            "enum": ["ok", "invalid_domain", "rate_limited", "whois_error"]
          }
        },
        "required": ["domain", "available", "status"]
      },
      "AvailabilityResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "domain": {
            "type": "string",
            "description": "Normalized domain name"
          },
          "available": {
            "type": ["boolean", "null"],
            "description": "Availability when known, or null when the lookup failed."
          },
          "status": {
            "type": "string",
            "enum": ["ok", "invalid_domain", "rate_limited", "whois_error"]
          }
        },
        "required": ["domain", "available", "status"]
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Set GPTKIT_BEARER_TOKEN environment variable."
      }
    }
  },
  "paths": {
    "/domain/availability": {
      "get": {
        "operationId": "checkDomainAvailability",
        "summary": "Check domain availability",
        "description": "Check whether a single domain is available.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Full domain name including TLD.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability result for the requested domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid or expired token"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          }
        }
      }
    }
  }
}
