{
  "openapi": "3.1.0",
  "info": {
    "title": "GPTKit Domain Availability API",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://gptkit.guillaumeduveau.com"
    }
  ],
  "components": {
    "schemas": {
      "AvailabilityResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "domain": {
            "type": "string",
            "description": "Normalized domain name"
          },
          "available": {
            "type": ["boolean", "null"],
            "description": "Availability when known, or null when the lookup was skipped or failed."
          },
          "checked_at": {
            "type": "string",
            "description": "UTC timestamp of the cached WHOIS check, empty string when unavailable."
          },
          "status": {
            "type": "string",
            "enum": ["ok", "invalid_domain", "rate_limited", "whois_error", "skipped_budget"]
          }
        },
        "required": ["domain", "available", "checked_at", "status"]
      },
      "AvailabilityResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityResult"
            }
          }
        },
        "required": ["results"]
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Set GPTKIT_BEARER_TOKEN environment variable."
      }
    }
  },
  "paths": {
    "/domain/availability": {
      "get": {
        "operationId": "checkDomainAvailability",
        "summary": "Check domain availability",
        "description": "Check whether up to 10 distinct domains are available. Query the `domain` parameter multiple times to check several domains in a single request.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "One or more full domain names including TLDs. Repeat the parameter to check multiple domains.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "If 1, bypass cache and force fresh WHOIS lookups. Default is 0.",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability results for each requested domain. Partial results are returned when some domains are invalid, rate-limited, or skipped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, such as no domain provided or more than 10 distinct domains.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid or expired token"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          }
        }
      }
    }
  }
}
