{
  "openapi": "3.1.0",
  "info": {
    "title": "GPTKit WHOIS API",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://gptkit.guillaumeduveau.com"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Set GPTKIT_BEARER_TOKEN environment variable."
      }
    }
  },
  "paths": {
    "/domain/whois": {
      "get": {
        "operationId": "whoisLookup",
        "summary": "WHOIS lookup for a domain",
        "description": "Check WHOIS information and availability status for a single domain.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Full domain name including TLD (e.g. example.com, monsite.fr).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "If 1, bypass cache and force a fresh WHOIS lookup. Default is 0.",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "If 1, populate the raw WHOIS payload in the response. All response keys are always present.",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful WHOIS lookup. The response shape is always the same. Text fields are empty strings when unavailable. The raw field is only populated when details=1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "domain": { "type": "string", "description": "Domain name" },
                    "available": { "type": "boolean", "description": "Availability status" },
                    "created_at": { "type": "string", "description": "Domain creation date, empty string if not available" },
                    "checked_at": { "type": "string", "description": "UTC timestamp of the cached WHOIS check, empty string if unavailable" },
                    "tld": { "type": "string", "description": "Top-level domain" },
                    "pending_delete": { "type": "boolean" },
                    "redemption_period": { "type": "boolean" },
                    "statut": { "type": "string", "description": "WHOIS status, empty string if unavailable" },
                    "registrar": { "type": "string", "description": "Registrar name, empty string if unavailable" },
                    "raw": { "type": "string", "description": "Raw WHOIS data, only populated when details=1" }
                  },
                  "required": ["domain", "available", "created_at", "checked_at", "tld", "pending_delete", "redemption_period", "statut", "registrar", "raw"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": { "type": "string", "example": "Invalid or expired token" }
                  },
                  "required": ["detail"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "invalid_domain" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "rate_limited" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "500": {
            "description": "WHOIS error or internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "whois_error" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          }
        }
      }
    }
  }
}
