{
  "openapi": "3.1.0",
  "info": {
    "title": "GPTKit WHOIS API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gptkit.guillaumeduveau.com"
    }
  ],
  "paths": {
    "/domain/whois": {
      "get": {
        "operationId": "whoisLookup",
        "summary": "WHOIS lookup for a domain",
        "description": "Check WHOIS information and availability status for a single domain.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Full domain name including TLD (e.g. example.com, monsite.fr).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "description": "If 1, bypass cache and force a fresh WHOIS lookup. Default is 0.",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful WHOIS lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": { "type": "string" },
                    "tld": { "type": "string" },
                    "available": { "type": "boolean" },
                    "checked_at": { "type": "string", "format": "date-time" },
                    "raw": { "type": "string" }
                  },
                  "required": ["domain", "tld", "available", "checked_at", "raw"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "invalid_domain" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "rate_limited" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "500": {
            "description": "WHOIS error or internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "whois_error" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          }
        }
      }
    }
  }
}
