{
  "openapi": "3.1.0",
  "info": {
    "title": "GPTKit WHOIS API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gptkit.guillaumeduveau.com"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Set GPTKIT_BEARER_TOKEN environment variable."
      }
    }
  },
  "paths": {
    "/domain/whois": {
      "get": {
        "operationId": "whoisLookup",
        "summary": "WHOIS lookup for a domain",
        "description": "Check WHOIS information and availability status for a single domain.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Full domain name including TLD (e.g. example.com, monsite.fr).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "If 1, bypass cache and force a fresh WHOIS lookup. Default is 0.",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "If 1, return detailed format with all keys including raw. Default is 0 (minimalist format).",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful WHOIS lookup. Format depends on the 'details' parameter: minimalist format (default) or detailed format with all keys including raw.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "title": "MinimalistFormat",
                      "description": "Minimalist format returned by default (when details=0 or not provided)",
                      "properties": {
                        "domain": { "type": "string", "description": "Domain name" },
                        "available": { "type": "boolean", "description": "Availability status" },
                        "created_at": { "type": "string", "nullable": true, "description": "Domain creation date, null if not available" }
                      },
                      "required": ["domain", "available"]
                    },
                    {
                      "type": "object",
                      "title": "DetailedFormat",
                      "description": "Detailed format returned when details=1, includes all keys and raw WHOIS data",
                      "properties": {
                        "domain": { "type": "string" },
                        "checked_at": { "type": "string", "format": "date-time" },
                        "tld": { "type": "string" },
                        "available": { "type": "boolean" },
                        "pending_delete": { "type": "boolean" },
                        "redemption_period": { "type": "boolean" },
                        "statut": { "type": "string", "nullable": true },
                        "created_at": { "type": "string", "nullable": true },
                        "registrar": { "type": "string", "nullable": true },
                        "raw": { "type": "string", "description": "Raw WHOIS data" }
                      },
                      "required": ["domain", "checked_at", "tld", "available", "pending_delete", "redemption_period", "raw"]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": { "type": "string", "example": "Invalid or expired token" }
                  },
                  "required": ["detail"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "invalid_domain" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "rate_limited" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "500": {
            "description": "WHOIS error or internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "whois_error" },
                    "message": { "type": "string" }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          }
        }
      }
    }
  }
}
